@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-black: #322625;
  --color-grey: #ebebeb;
  --color-blue: #c0e3e5;
  --color-yellow: #fdc936;
}

@font-face {
  font-family: 'NeutraText';
  src: local('Neutra _Text_Book'), url(./static/Neutra_Text_Book.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'NeutraText';
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'NeutraText';
  color: var(--color-black);
}